@import url("./normalize.css");

/* VARIABLES */
:root {
    --jet-black: #292929;
    --dim-gray: #747474;
    --silver-gray: #c2c2c2;
    --white-smoke: #f5f5f5;
    --caribbean-current: #0c6e6e;
    --verdigris: #65a4a4;
    --light-cyan: #bfd9d9;

    --page-text: "Shippori Antique B1", sans-serif;
    --page-header: "Cantata One", Arial, sans-serif;
}

/* LAYOUT */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    height: auto;
    width: 100vw;

    padding-top: 4rem;
    padding-bottom: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 0;
}

header p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

nav ul {
    display: flex;
    flex-direction: column;

    padding-left: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

hr {
    width: 20vw;
    border-top: 3px solid;
}


section {
    width: 90vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-card {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

footer {
    width: 100%;
}

footer p {
    margin-bottom: 0;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* COLORS */
body {
    background-color: var(--white-smoke);
    color: var(--jet-black);
}

a {
    color: var(--light-cyan);
}

a:hover {
    color: var(--verdigris);
}

header hr {
    color: var(--white-smoke);
}

main hr {
    color: var(--caribbean-current);
}

header,
footer {
    background-color: var(--caribbean-current);
    color: var(--white-smoke);
}

.modal-card {
    background-color: var(--caribbean-current);
    color: var(--light-cyan);
}

.temp-contact a {
    color: var(--jet-black);
}

.temp-contact a:hover {
    color: var(--verdigris);
}

/* TYPOGRAPHY */
body {
    font-family: var(--page-text), sans-serif;
    text-align: center;
}

h1,
h2 {
    font-family: var(--page-header), serif;
}

h1 {
    font-size: 2.3rem;
}

h2 {
    font-size: 1.8rem;
}

i {
    font-size: 2rem;
}

p {
    font-size: 1.1rem;
}

footer p {
    font-size: 0.8rem;
}

/* GENERAL */
nav ul {
    list-style-type: none;
}

a:active {
    transition: ease-in-out 0.1s;
}

/* MQ */
@media screen and (min-width: 1200px) {
    main {
        width: 1200px;
    }

    section {
        width: inherit;
    }
}
