/*CSS RESET*/
@import url("./reset.css");

/* CUSTOM CSS RULES */
body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #121112;
  color: lightgray;
  font-family: Helvetica, sans-serif;
}

.container, .innerContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.innerContainer {
  width: 80dvw;
}

h1 {
  font-size: x-large;
  font-weight: 600;
  text-align: center;
  padding: 2rem;
}

.intro p {
  padding: 1rem;
}

h2 {
  font-size: large;
  text-decoration: underline;
  padding: 2rem 2rem 0.5rem 2rem;
}

.toggleWindow,
.teamWindow,
.listWindow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleWindow {
  flex-direction: column;
}

.teamWindow,
.listWindow {
  flex-wrap: wrap;
}

.characterItem {
  flex-basis: 50%;
}

h3 {
  font-size: large;
  font-style: italic;
  padding: 2rem 2rem 0.5rem 2rem;
}

img {
  width: 20rem;
}

.hidden {
  display: none;
}
