/*RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*STYLES*/
body {
  background-color: #edd3c4;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  width: 95vw;
  height: 95vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #1e1e1e;
  outline: 3px solid #1e1e1e;
  outline-offset: 0.6rem;
}

header {
  padding-bottom: 1rem;

  text-align: center;
  font-family: "Cantata One", Arial, sans-serif;
  color: #1e1e1e;
}

header h1 {
  font-size: 3.5rem;
}

header h2 {
  font-size: 2.5rem;
}

.small {
  padding-top: 0.4rem;
  font-size: 0.7rem;
}

nav {
  font-family: "Shippori Antique B1", sans-serif;
  text-align: center;
}

nav ul li {
  padding-bottom: 0.3rem;
}

a {
  font-size: 1.2rem;
  color: #183b3d;
}

a:visited {
  color: #1e1e1e;
}

a:hover {
  color: #00afb9;
}

.toggle {
  position: absolute;
  right: 2rem;
  bottom: 1.5rem;
  display: flex;
  align-items: center;
}

.toggle-button {
  width: 2rem;
  height: 1rem;
  display: block;
  position: relative;
  background-color: #1e1e1e;
  border-radius: 1rem;
  cursor: pointer;
}

.toggle-circle {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #edd3c4;
  border-radius: 0.8rem;
  margin: .1rem;
}

.toggle label input {
  display: none;
}

/*MEDIA QUERIES*/
@media (max-width: 695px), (max-height: 580px) {
  .frame {
    outline: 2px solid #1e1e1e;
    outline-offset: 0.3rem;
  }

  header h1 {
    font-size: 1.6rem;
  }

  header h2 {
    font-size: 1.3rem;
  }

  a {
    font-size: 0.9rem;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul li {
    padding-left: 5px;
    padding-right: 5px;
  }
}
